services:
  cnergy-backend:
    image: "${NCP_CONTAINER_REGISTRY}/cnergy-backend:${GITHUB_SHA}"
    container_name: cnergy-backend
    env_file:
      - .env
    ports:
      - '8080:8080'
    depends_on:
      - redis
    networks:
      - cnergy-backend-network

  redis:
    image: redis:6.0.9
    container_name: redis
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data
    networks:
      - cnergy-backend-network

volumes:
  redis-data:

networks:
  cnergy-backend-network:
      driver: bridge